{
  "hooks": {
    "SessionStart": [
      {
        "matcher": "*",
        "hooks": [
          {
            "name": "{{.ProjectName}}-session-start",
            "type": "command",
            "command": "${extensionPath}${/}bin${/}{{.ProjectName}} GeminiSessionStart"
          }
        ]
      }
    ],
    "SessionEnd": [
      {
        "matcher": "*",
        "hooks": [
          {
            "name": "{{.ProjectName}}-session-end",
            "type": "command",
            "command": "${extensionPath}${/}bin${/}{{.ProjectName}} GeminiSessionEnd"
          }
        ]
      }
    ],
    "BeforeAgent": [
      {
        "matcher": "*",
        "hooks": [
          {
            "name": "{{.ProjectName}}-before-agent",
            "type": "command",
            "command": "${extensionPath}${/}bin${/}{{.ProjectName}} GeminiBeforeAgent"
          }
        ]
      }
    ],
    "AfterAgent": [
      {
        "matcher": "*",
        "hooks": [
          {
            "name": "{{.ProjectName}}-after-agent",
            "type": "command",
            "command": "${extensionPath}${/}bin${/}{{.ProjectName}} GeminiAfterAgent"
          }
        ]
      }
    ],
    "BeforeTool": [
      {
        "matcher": "*",
        "hooks": [
          {
            "name": "{{.ProjectName}}-before-tool",
            "type": "command",
            "command": "${extensionPath}${/}bin${/}{{.ProjectName}} GeminiBeforeTool"
          }
        ]
      }
    ],
    "AfterTool": [
      {
        "matcher": "*",
        "hooks": [
          {
            "name": "{{.ProjectName}}-after-tool",
            "type": "command",
            "command": "${extensionPath}${/}bin${/}{{.ProjectName}} GeminiAfterTool"
          }
        ]
      }
    ]
  }
}
